/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}
.wrapper {
    border: 1px dashed #95a5a6;
    height: 56px;
    margin-top: 16px;
    border-radius: 4px;
    position: relative;
    font-size: 12px;
}

.wrapper p {
    line-height: 31px;
}



